---
layout: default
---
<div class="post">
  <div class="post-header">
      <div class="post-title">
        <a href="{{ page.url }}">{{ page.title }}</a>
      </div>
      <div class="post-date">
          {{ page.date | date_to_long_string }}.
      </div>
  </div>
  <div class="post-content">
    {{ content }}
  </div>
  <div class="disqus">
      
        <div id="disqus_thread"></div>
        <script>
        var disqus_config = function () {
        this.page.url = 'http://robap.github.io/{{ page.url }}'; // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = 'ff_{{ page.id }}';; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = '//freezerfrog.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
</div>